@using OffertTemplateTool.Models;
@model List<UsersViewModel>
@{
    ViewData["Title"] = "MyAccount";
}
<h1>@ViewData["Title"]</h1>
<table>
    @foreach (UsersViewModel item in Model)
    {
        if (User.Identity.Name == item.Email) {
        <tr>
            <th>FullName:</th>
            <td>@item.FirstName @item.Insertion @item.LastName</td>
        </tr>
        <tr>
            <th>Initials:</th>
            <td>@item.Initials</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@item.Email</td>
        </tr>
        <tr>
            <th>PhoneNumber:</th>
            <td>@item.PhoneNumber</td>
        </tr>
        <tr>
            <th>Function:</th>
            <td>@item.Function</td>
        </tr>
        }
    }
</table>
