@using OffertTemplateTool.DAL.Models;
@{
    ViewData["Title"] = "Home Page";
    int templatenumber = 0;
    int rownumber = 0;
    List<string> files = (List<string>)ViewData["templates"];
    List<Offers> openoffer = (List<Offers>)ViewData["open"];
    List<Offers> exportedoffer = (List<Offers>)ViewData["exported"];
}
<div class="row">
    <div class="col-md-12">
        <h1>DashBoard</h1>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>Open Offers</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>nr</th>
                        <th>ProjectName</th>
                        <th>DocumentCode</th>
                    </tr>
                    @{rownumber = 0; }
                    @foreach (var item in openoffer)
                    {
                        rownumber++;
                        <tr>
                            <th>@rownumber</th>
                            <td>@item.ProjectName</td>
                            <td>@item.DocumentCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3>Exported Offers</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>nr</th>
                        <th>ProjectName</th>
                        <th>DocumentCode</th>
                    </tr>
                    @{ rownumber = 0;}
                    @foreach (var item in exportedoffer)
                    {
                        rownumber++;
                        <tr>
                            <th>@rownumber</th>
                            <td>@item.ProjectName</td>
                            <td>@item.DocumentCode</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h3>Templates</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    @foreach (var item in files)
                    {
                        templatenumber++;
                        <tr>
                            <th>@templatenumber</th>
                            <td>@item.ToString()</td>
                            <td>@Html.ActionLink("Delete", "DeleteTemplate", "Home", new { filename = item})</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h3>Title</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            Description.....
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h3>Title</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            Description.....
        </div>
    </div>
</div>
