@using OffertTemplateTool.Models;
@model SettingsViewModel;
@{
    ViewData["Title"] = "Settings";

    List<SettingsViewModel> query = (List<SettingsViewModel>)ViewData["settings"];
    int id = 0;
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Info</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Key:</th>
                        <td><input asp-for="Key" class="key form-control" /></td>
                    </tr>
                    <tr>
                        <th>Value:</th>
                        <td><input asp-for="Value" class="value form-control" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td> <input type="submit" id="save" class="btn btn-default save save_add" name="Save" value="Save" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>This is the Settings page</p>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success btn-modal" data-toggle="modal" data-target="#myModal">Add Key</button>
        <table class="table table-striped">
            <tr>
                <th>Key:</th>
                <th>Value:</th>
                <th></th>
            </tr>

            @foreach (var item in query)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <button id="edit_@id" class="btn btn-primary btn-modal edit" data-id="@item.Id" data-toggle="modal" data-target="#myModal" style="margin-top:0px !important;">Edit</button>
                        <button class="btn btn-danger" style="float:right;">@Html.ActionLink("Delete", "Delete", "Settings", new { id = item.Id })</button>
                    </td>
                </tr>
                id++;
            }
        </table>
    </div>
</div>

<script type="text/javascript">

   //edit get info
    var guid;
        var exportid = "";
        $(".edit").click(function () {
            for (var i = 0; i < @id; i++) {
                if (this.id == "edit_" + i) {
                    exportid = i;
                }
            }
            guid = $("#edit_" + exportid).data("id");
            console.log(exportid);

            postdata = {
                "id": guid
            }

            $.ajax({
                type: "GET",
                url: '@Url.Action("getSetting", "Settings")',
                data: postdata,
                complete: function (response, xhr, status) {
                    var json = JSON.parse(response.responseText);
                    $(".key").val(json["key"]);
                    $(".value").val(json['value']);
                    console.log("complete");
                    $(".save").addClass("edit_save");
                    $(".save").removeClass("save_add");
                },
                error: function (response, xhr, status) {

                }
            });
    });

    //Check welke post er word gedaan
        $(".save").click(function () {
            if ($("#save").hasClass("edit_save")) {
                var postbody_edit = {
                    "id": guid,
                    "key": $(".key").val(),
                    "value": $(".value").val()
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit", "Settings")',
                    data: postbody_edit,
                    complete: function () {
                        $(".save").removeClass("edit_save");
                        $(".save").addClass("save_add");
                        console.log("edit");
                        window.location.reload();
                    },
                    error: function () {

                    }
                });
            }

            if ($("#save").hasClass("save_add")) {
                var postbody_add = {
                    "key": $(".key").val(),
                    "value": $(".value").val()
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Add", "Settings")',
                    data: postbody_add,
                    complete: function () {
                        $(".save").removeClass("edit_save");
                        console.log("add");
                        window.location.reload();
                    },
                    error: function () {

                    }
                });
            }
        });

</script>
