
@{
    ViewData["Title"] = "NewHeapTemplate";
    Layout = null;
}
<!doctype html>
<style>
    * {
        font-family: calibri;
        font-size: 20px !important; 
    }
     .pagebreak {
        page-break-after: always;
        position: relative;
        height: 14in;
        /*height: 400px;*/
    }

    .footer {
        bottom: 0px;
        width: 100%;
        margin-left: 5%;
        position: absolute;
        /*page-break-before: auto !important;*/
    }

    .footer tr td img {
        height: 30px;
        vertical-align: middle;
        margin-right: 5%;
    }

    #formulier tr {
        height: 40px;
    }

    h1 {
        color: #e84f1e;
        font-size: 32px !important;
    }

    p {
        margin: 0;
    }

    dd {
        margin: 1%;
        margin-left: 17%;
    }

    .estimate-table {
        width: 100%;
    }
</style>



    <div class="pagebreak">
        <p><b>@Model.FrontPage.CustomerCompany</b></p>
        <p> t.a.v. de heer @Model.FrontPage.CustomerName</p>
        <p>@Model.FrontPage.CustomerStreet</p>
        <p>@Model.FrontPage.CustomerZipCode</p>
        <p>@Model.FrontPage.CustomerCountry</p>
        <img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap" style="width:100%; margin-top:10%; margin-bottom:10%;">
        <h1 style="color: black !important;">@Model.FrontPage.ProjectName</h1>
        <h1>Projectvoorstel</h1>
        <table style="width:50%;">
            <tr>
                <td><b>Datum laatste wijziging:</b></td>
                <td>@Model.FrontPage.LastUpdated</td>
            </tr>
            <tr>
                <td><b>Documentidentificatie:</b></td>
                <td>@Model.FrontPage.DocumentCode</td>
            </tr>
            <tr>
                <td><b>Auteur:</b></td>
                <td>@Model.FrontPage.CreatedBy</td>
            </tr>
        </table>
    </div>
<div class="pagebreak">
    <h1>Vertrouwelijk</h1>
    <p>
        [2017] NewHeap B.V. : Alle rechten voorbehouden. <br />
        Alle informatie in dit document is, en blijft, eigendom van NewHeap B.V. en, als deze er zijn, zijn leveranciers.<br />
        Dit document is bedoeld voor Klant B.V. en dient niet zonder toestemming verspreidt te worden.
    </p>
    <table class="footer">
        <tr>
            <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
            <td>NL92 ABNA 0513 6989 73</td>
        </tr>
        <tr>
            <td>Blankenstein 132</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
            <td>Kvk: 65649176</td>
        </tr>
        <tr>
            <td>7943 PE  Meppel</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
            <td>btw: NL8562.02.617.B01</td>
        </tr>
    </table>
</div>
<div class="pagebreak">
    <dl>
        <dt><b>Betreft:</b></dt>
        <dd>Projectvoorstel realisatie <ProjectName></dd>
        <dt><b>Relatie:</b></dt>
            <dd>@Model.Page3.CustomerCompany</dd>
            <dd>@Model.Page3.CustomerName</dd>
            <dd>@Model.Page3.CustomerStreet</dd>
            <dd>@Model.Page3.CustomerZipCode</dd>
            <dd>@Model.Page3.CustomerEmail</dd>
        <dt><b>Uitvoering:</b></dt>
            <dd>NewHeap B.V.</dd>
            <dd>Eekwal 1</dd>
            <dd>8011 LA  ZWOLLE</dd>
            <dd>info@newheap.com</dd>
            <dd>www.newheap.com</dd>
            <dd>KVK : 65649176</dd>
            <dd>IBAN: NL92 ABNA 0513 6989 73</dd>
            <dd>Te naamstelling van: NewHeap B.V.</dd>
            <dd>BTW: NL8562.02.617.B01</dd>
        <dt><b>Contactpersoon:</b></dt>
            <dd>Lars van en Bosch</dd>
            <dd>E-mail: lars@newheap.com</dd>
            <dd>Tel: (0031)(0)522200022</dd>
        <dt><b>Voorwaarden:</b></dt>
            <dd>Algemene voorwaarden NewHeap B.V.</dd>
            <dd>Nederland ICT Voorwaarden 2014 (los meegeleverd)</dd>
        <dt><b>Documentversie:</b></dt>
            <dd>@Model.Page3.DocumentVersion</dd>
    </dl>
    <table class="footer">
        <tr>
            <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
            <td>NL92 ABNA 0513 6989 73</td>
        </tr>
        <tr>
            <td>Blankenstein 132</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
            <td>Kvk: 65649176</td>
        </tr>
        <tr>
            <td>7943 PE  Meppel</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
            <td>btw: NL8562.02.617.B01</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
</div>
<div class="pagebreak">
    <h1>Inhoud</h1>
    @foreach (var item in Model.IndexPage.IndexItems)
    {
    <p>@item</p>
    }
    <table class="footer">
        <tr>
            <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
            <td>NL92 ABNA 0513 6989 73</td>
        </tr>
        <tr>
            <td>Blankenstein 132</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
            <td>Kvk: 65649176</td>
        </tr>
        <tr>
            <td>7943 PE  Meppel</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
            <td>btw: NL8562.02.617.B01</td>
        </tr>
    </table>
</div>
@foreach (var item in Model.ContentPages.Alineas)
{
    <div class="pagebreak">
        @Html.Raw(item)
        <table class="footer">
            <tr>
                <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
                <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
                <td>NL92 ABNA 0513 6989 73</td>
            </tr>
            <tr>
                <td>Blankenstein 132</td>
                <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
                <td>Kvk: 65649176</td>
            </tr>
            <tr>
                <td>7943 PE  Meppel</td>
                <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
                <td>btw: NL8562.02.617.B01</td>
            </tr>
        </table>
    </div>
}

<div class="pagebreak">
    <h1>Begroting</h1>
    <table class="estimate-table">
        <tr>
            <td style="width:500px;"><b>Omschrijving</b></td>
            <td><b>Aantal uren</b></td>
            <td><b>Kosten per uur</b></td>
            <td><b>Totale kosten</b></td>
        </tr>
        @foreach (var item in Model.EstimateTablePage.EstimateConnects)
            {
            <tr>
                <td>@item.EstimateLines.Specification</td>
                <td>@item.EstimateLines.Hours</td>
                <td>@item.EstimateLines.HourCost.ToString("#,##0.00")</td>
                <td>@item.EstimateLines.TotalCost.ToString("#,##0.00")</td>
            </tr>
        }
            <tr>
                <td colspan="3"></td>
                <td style="border-top:1px solid black;">@Model.EstimateTablePage.ExclBtw</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>@Model.EstimateTablePage.BTW</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td style="border-top:1px solid black;">@Model.EstimateTablePage.Totaal</td>
            </tr>
    </table>
    <table class="footer">
        <tr>
            <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
            <td>NL92 ABNA 0513 6989 73</td>
        </tr>
        <tr>
            <td>Blankenstein 132</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
            <td>Kvk: 65649176</td>
        </tr>
        <tr>
            <td>7943 PE  Meppel</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
            <td>btw: NL8562.02.617.B01</td>
        </tr>
    </table>
</div>
<div style="height: 14in;">
    <h1>Voor akkoord</h1>
    <p>
        Indien U akkoord gaat met de inhoud van dit projectvoorstel betreft de realisatie van uw project fase 1, verzoeken wij u vriendelijk dit document getekend te retourneren. De ondertekening van dit document geld als opdrachtbevestiging en geld als overeenkomst tussen opdrachtgever en opdrachtnemer.<br /><br />

        Mocht u naar aanleiding van dit document nog vragen en/of opmerkingen hebben, dan kunt u ten alle tijden contact met ons opnemen.<br /><br />

        Ondertekende van dit contract gaat akkoord met de aspecten die in deze offerte benoemd zijn, de Nederland ICT  Voorwaarden 2014 en de algemene voorwaarden van NewHeap B.V.<br /><br />

        <b>
            Werkzaamheden buiten deze offerte worden vooraf aan u geoffreerd.<br /><br />
            <del>40% van het totaalbedrag, op hiervoor aangegeven begroting vermeld, dient aanbetaald te worden.</del><br /><br />
            Het <del>resterende</del> totaalbedrag, op hiervoor aangegeven begroting vermeld, dient na oplevering van de applicatie betaald te worden.<br /><br />
            Wij hanteren een betalingstermijn van 31 dagen voor onze facturen.
        </b> <br /><br /><br />
    </p>
    <table id="formulier" style="width:100%">
        <tr>
            <th>Opdrachtnemer:</th>
            <th></th>
            <th></th>
            <th>Opdrachtgever:</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Handtekening.png" alt="Handtekening" style="width:40%;"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Naam:</td>
            <td>L.E. van den Bosch</td>
            <td>Naam:</td>
            <td><hr /></td>
        </tr>
        <tr>
            <td>Plaats:</td>
            <td>Meppel</td>
            <td>Plaats:</td>
            <td><hr /></td>
        </tr>
        <tr>
            <td>Functie:</td>
            <td>Directeur</td>
            <td>Functie:</td>
            <td><hr /></td>
        </tr>
        <tr>
            <td>Datum:</td>
            <td>28 november 2017</td>
            <td>Datum:</td>
            <td><hr /></td>
        </tr>
    </table>
    <table class="footer">
        <tr>
            <td><img src="C:\Users\ischo\source\repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\NewHeap.png" alt="NewHeap"></td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Telefoon.png" alt="telefoonnummer"> +31(0)522-200022</td>
            <td>NL92 ABNA 0513 6989 73</td>
        </tr>
        <tr>
            <td>Blankenstein 132</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Mail.png" alt="E-Mail"> info@newheap.com</td>
            <td>Kvk: 65649176</td>
        </tr>
        <tr>
            <td>7943 PE  Meppel</td>
            <td><img src="C:\Users\ischo\Source\Repos\OfferteTool\OffertTemplateTool\Views\Template\TemplateImages\Website.png" alt="Website"> www.newheap.com</td>
            <td>btw: NL8562.02.617.B01</td>
        </tr>
    </table>
</div>