@model List<WeFactDebtorsModel>
@{
    ViewData["Title"] = "Index";

}
<style type="text/css">
    .row-header {
        background-color: lightgray;
    }
</style>
<div class="row">
    <h1>Index</h1>
    <hr />
</div>


<div class="row">
    <div class="col-md-10" style="border:1px solid grey; border-radius:4px; width:100%;">
        <div class="row row-header" style="border:1px solid grey; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px;">
            <div class="col-md-3">
                <b>Identifier:</b>
            </div>
            <div class="col-md-3">
                <b>DebtorCode:</b>
            </div>
            <div class="col-md-3">
                <b>FullName:</b>
            </div>
            <div class="col-md-3">
                <b>CompanyName:</b>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    @item.Identifier
                </div>
                <div class="col-md-3">
                    @item.DebtorCode
                </div>
                <div class="col-md-3">
                    @item.Initials
                    @item.SurName
                </div>
                <div class="col-md-3">
                    @item.CompanyName
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(".row-header").click(function () {
        RequestRedirect("../wefact/p");
    });
</script>