@model List<WeFactDebtorsModel>
@{
    ViewData["Title"] = "Index";

}
<style type="text/css">
    .row-header {
        background-color: lightgray;
    }
</style>
<div class="row">
    <h1>Index</h1>
    <hr />
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Identifier:</th>
                <th>DebtorCode:</th>
                <th>FullName:</th>
                <th>CompanyName:</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Identifier</td>
                    <td>@item.DebtorCode</td>
                    <td>@item.Initials @item.SurName</td>
                    <td>@item.CompanyName</td>
                </tr>
            }
        </table>
    </div>
</div>
