@using OffertTemplateTool.Models;
@model OfferViewModel

@{
    List<EstimateConnectViewModel> lines = (List<EstimateConnectViewModel>)ViewData["estimatelines"];
    ViewData["Title"] = "Edit Offer";
    var id = 0;
    var newid = Guid.NewGuid();
    List<WeFactDebtorsModel> debtor = (List<WeFactDebtorsModel>)ViewData["debtors"];
}
<div class="row">
    <h1>Edit Offer</h1>
    <hr />
</div>
<div class="row">
    <div class="col-md-9">
        <button class="btn btn-danger cancel-button"><a href="../">Cancel</a></button>
        <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
        <label>ProjectName:</label> <br />
        <div class="row">
            <div class="col-md-2">
                <input asp-for="ProjectName" class="projectname form-control" placeholder="ProjectName" style="margin-bottom: 1%;" /><br />
            </div>
        </div>
        <label>Company:</label>
        <select class="form-control company" asp-for="DebtorNumber" style="width:15%;">
            @*@foreach (var item in debtor)
            {
                <option value="@item.DebtorCode">@item.CompanyName</option>
            }*@
        </select>
        <br />

        <label>IndexContent:</label>
<textarea asp-for="IndexContent" class="summernote" name="IndexContent"></textarea>
        <label>estimate:</label>
        <a class="new">New Line</a>
        <div class="row">
            <div class="col-md-2">
                <label>Specification:</label>
            </div>
            <div class="col-md-2">
                <label>Hours:</label>
            </div>
            <div class="col-md-2">
                <label>HoursCost:</label>
            </div>
            <div class="col-md-2">
                <label>TotalCost:</label>
            </div>
        </div>
        <div class="newline-container">
            @foreach (var item in lines)
            {
                <div class="row new-row">
                    <div class="col-md-2" style="display:none;">
                        <input asp-for="EstimateLines" class="form-control" id="Id_@id" value="@item.EstimateLines.Id" />
                    </div>
                    <div class="col-md-2">
                        <input asp-for="EstimateLines" class="form-control" id="Specification_@id" value="@item.EstimateLines.Specification" />
                    </div>
                    <div class="col-md-2">
                        <input asp-for="EstimateLines" class="form-control" id="Hours_@id" value="@item.EstimateLines.Hours" />
                    </div>
                    <div class="col-md-2">
                        <input asp-for="EstimateLines" class="form-control" id="HoursCost_@id" value="@item.EstimateLines.HourCost" />
                    </div>
                    <div class="col-md-2">
                        <input asp-for="EstimateLines" class="form-control" id="TotalCost_@id" value="@item.EstimateLines.TotalCost" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger row-delete">Delete Row</button>
                    </div>
                </div>
                id++;
            }
        </div>

        <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
    </div>
    <div class="col-md-3">

    </div>
</div>
<script type="text/javascript" src="~/js/ErrorMessages.js"></script>
<script type="text/javascript">
    var id = @id;

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300
        });
    });

    $(".new").click(function (e) {
        $(".newline-container").append(
            '<div class="row new-row"><div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="Specification_' + id +'" placeholder="Specification" />' +
            '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="Hours_' + id +'" placeholder="Hours" />' +
                '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="HoursCost_' + id +'" placeholder="HoursCost" />' +
                '</div>' +
            '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="TotalCost_' + id +'" placeholder="TotalCost" />' +
                '</div> ' +
            '<div class="col-md-2"><button class="btn btn-danger row-delete">Delete Row</button></div></div>'
        );
        id++;
        return;
    });

    $(".Save-offerte").click(function (e) {

        saveAll();
        return;
    });

    var saveAll = function () {

        var postBody = {
            "Id": "@Model.Id",
            "DebtorNumber": $(".company").val(),
            "DocumentCode": 0,
            "ProjectName": $(".projectname").val(),
            "CreatedBy": null,
            "UpdatedBy": null,
            "CreatedAt": null,
            "LastUpdatedAt": "@DateTime.Now",
            "IndexContent": $(".summernote").val(),
            "Estimate": "@Model.Estimate",
            "EstimateLines": [
            ]
        };
        var lineid = 0;
        for (var i = 0; i < id; i++) {
            console.log($("#Specification_" + i).val());
            if (!$("#Specification_" + i).val() == "") {
                postBody.EstimateLines[lineid] = {
                    "Id": $("#Id_" + i).val(),
                    "Specification": $("#Specification_" + i).val(),
                    "HourCost": $("#HoursCost_" + i).val(),
                    "Hours": $("#Hours_" + i).val(),
                    "TotalCost": $("#TotalCost_" + i).val()
                };
                lineid++;
            }
        }

        var redirect = function () {
            window.location.replace("../");

        }

        console.log(postBody);

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditOffer","Offer")',
            data: postBody,
            complete: function (response, status, xhr) {
                $.notify("<span class='glyphicon glyphicon-ok'></span> <p>Your offer has succesfully saved! you will " +
                    "automatically Redirect to the overview </p > ", {
                        type: 'success',
                        showProgressbar: true,
                    });
                setInterval(redirect, 5000);
            },
            error: function (response, status, xhr) {
                errormessages(response.repsponsetext, id);
            },
        });
    }
    $(document).on("click", ".row-delete", function (e) {
        console.log("button clicked");
        $(this).parent().parent().remove();
        console.log(id);
    });
</script>