@using OffertTemplateTool.Models;
@model OfferViewModel;
@{
    ViewData["Title"] = "Offers";
    var templates = (List<string>)ViewData["templates"];
    List<OfferViewModel> offertes = (List<OfferViewModel>)ViewData["offertes"];
    int id = 0;
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wich template you want to select</h4>
            </div>
            <div class="modal-body">
                <select name="Template" class="template">
                    @foreach (var item in templates)
                    {
                        <option value="@item">@item.ToString()</option>
                    }
                </select>
                <button class="btn btn-success" id="confirm">Confirm</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Offers</h1>
        <hr />
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-success newoffer" href="~/Offer/NewOffer">New Offer</a>
        <table class="table table-striped">
            <tr>
                <th>Project name:</th>
                <th>Created by:</th>
                <th>Created on:</th>
                <th>Last updated:</th>
                <th>Updated by:</th>
                <th>Updated on:</th>
                <th></th>
            </tr>
            @foreach (var item in offertes)
            {
                <tr>
                    <td>@item.ProjectName</td>
                    <td>@item.CreatedBy.FirstName</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.LastUpdatedAt</td>
                    <td>@item.UpdatedBy.FirstName</td>
                    <td>@item.LastUpdatedAt</td>
                    <td>
                        <a class="btn btn-primary" href="@Url.Action("EditOffer", "Offer", new { Id = item.Id })">Edit</a>
                        <a id="export_@id" class="btn btn-success export" data-id="@item.Id" data-toggle="modal" data-target="#myModal">Export</a>
                        <a class="btn btn-danger" onclick="className+=' disabled'" href = "@Url.Action("DeleteOffer", "offer", new { Id = item.Id })">Delete</a>
                    </td>
                </tr>
                id++;
            }
        </table>
    </div>
</div>
<script>
    var exportid = 0;
    $(".export").click(function () {
        for (var i = 0; i < @id; i++) {
            if (this.id == "export_" + i) {
                exportid = i;
            }
        }
    });
    $("#confirm").click(function () {
        var id = $("#export_" + exportid).data("id");
        var template = $(".template").val();
        window.location.replace("/offer/exportoffer?Id=" + id + "&Template=" + template);
    });


</script>

