@using OffertTemplateTool.Models;
@using OffertTemplateTool.DAL.Models;
@model OfferViewModel

@{
    ViewData["Title"] = "New Offerte";
    List<WeFactDebtorsModel> debtor = (List<WeFactDebtorsModel>)ViewData["debtors"];
}
<div class="row">
    <h1>NewOfferte</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-9" style="border-right:1px solid #eee;">
        <button class="btn btn-danger cancel-button"><a href="../Offer">Cancel</a></button>

        <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
        <label>ProjectName:</label> <br />
        <span class="error-projectname text-danger"></span>
        <input name="projectname" class="projectname form-control" placeholder="ProjectName" style="margin-bottom: 1%; width:15%;" /><br />

        <label>Company:</label>
        <select class="form-control company" asp-for="DebtorNumber" style="width:15%;">
            @foreach (var item in debtor)
            {
                <option value="@item.DebtorCode">@item.CompanyName</option>
            }
        </select>
        <br />

        <label>IndexContent:</label>
        <textarea class="summernote"></textarea>
        <label>estimate:</label>
        <a class="new">New Line</a>
        <div class="row">
            <div class="col-md-2">
                <label>Specification:</label>
            </div>
            <div class="col-md-2">
                <label>Hours:</label>
            </div>
            <div class="col-md-2">
                <label>HoursCost:</label>
            </div>
            <div class="col-md-2">
                <label>TotalCost:</label>
            </div>
        </div>
        <div class="newline-container">

        </div>
        <input type="submit" name="Save" class="btn btn-success Save-offerte" value="Save Offerte" /> <br />
    </div>
</div>
<script type="text/javascript" src="~/js/ErrorMessages.js"></script>
<script type="text/javascript">
    var id = 0;

    $(document).ready(function () {
        $('.summernote').summernote({
            height: 300
        });

    $(".new").click(function (e) {
        $(".newline-container").append(
            '<div class="row new-row"><div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="Specification' + id +'" placeholder="Specification" />' +
            '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="hours' + id +'" placeholder="Hours" />' +
                '</div>' +
                '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="hourscost' + id +'" placeholder="HoursCost" />' +
                '</div>' +
            '<div class="col-md-2">' +
            '<input name="EstimateLines" class="form-control" id="totalcost' + id +'" placeholder="TotalCost" />' +
                '</div>' +
            '</div>'
        );
        id++;
        return;
    });

    $(".Save-offerte").click(function (e) {
        saveAll();
        return;
    });

    var saveAll = function () {

        var postBody = {
            "Id": "@Model.Id",
            "DebtorNumber": $(".company").val(),
            "DocumentCode": 0,
            "ProjectName": $(".projectname").val(),
            "CreatedBy": null,
            "UpdatedBy": null,
            "CreatedAt": "@DateTime.Now",
            "LastUpdatedAt": "@DateTime.Now",
            "IndexContent": $(".summernote").val(),
            "EstimateLines": [
            ]
        };

        for (var i = 0; i < id; i++) {
            postBody.EstimateLines[i] = {
                "Specification": $("#Specification" + i).val(),
                "HourCost": $("#hourscost" + i).val(),
                "Hours": $("#hours" + i).val(),
                "TotalCost": $("#totalcost" + i).val()
            };
        }
        var redirect = function(){
            window.location.replace("../Offer");
        }
        console.log(postBody);

        $.ajax({
            type: "POST",
            url: '@Url.Action("NewOffer","Offer")',
            data: postBody,
            complete: function (response, status, xhr) {
                if (response.status == 200) {
                    $.notify("<span class='glyphicon glyphicon-ok'></span> <p>Your offer has succesfully saved! you will " +
                        "automatically Redirect to the overview </p > ", {
                            type: 'success',
                            showProgressbar: true,
                        });
                    setInterval(redirect, 5000);
                }
            },
            error: function (response, status, xhr) {
                $.notify("<span class='glyphicon glyphicon-ok'></span> <p>There went something Wrong!! Try it again </p > ", {
                        type: 'warning',

                });
                errormessages(response.responseText, id);
            },
        });
    }
    });
</script>

